<h3>Написать мне лично</h3>
<form action="/contacts" method="POST">

  	<div>
  		<label>Здесь можно ввести ваше сообщение для меня</label>
		<textarea name="letter[content]" class="form-control" rows="3" placeholder="Место для сообщения ..."></textarea>
	</div>

  	<div class="form-group">
    	<label for="exampleInputEmail1">Укажите Ваш Email для ответа </label>
    	<input name="letter[email]" type="email" class="form-control" id="exampleInputEmail1" placeholder="email@domen.domen">
  	</div>

  	<div class="form-group">
    	<label for="exampleInputName2">Ваше имя:</label>
    	<input name="letter[autor]" type="text" class="form-control" id="exampleInputName2" placeholder="Михаил Михаилович">
  	</div>
  	
  	<button type="submit" class="btn btn-default">Submit</button>

</form>
