<h3>Написать мне лично</h3>
<form action="/contacts" method="POST">

  	<div>
  		<label>Здесь можно ввести ваше сообщение для меня</label>
		<textarea name="" class="form-control" rows="3"></textarea>
	</div>

  	<div class="form-group">
    	<label for="exampleInputEmail1">Укажите Ваш Email для ответа </label>
    	<input name="pos_mes" type="email" class="form-control" id="exampleInputEmail1" placeholder="email@domen.domen">
  	</div>
  
  	<div class="form-group">
    	<label for="exampleInputFile">Прикрепите файл</label>
    	<input name="" type="file" id="exampleInputFile">
    	<p class="help-block">Здесь Вы можете прикрепить ОДИН файл.</p>
  	</div>
  
  	<button type="submit" class="btn btn-default">Submit</button>

</form>
