<!-- Это форма newpost.erb -->
<h2>Создаём новое сообщение</h2>
<p>
	<!-- <img src="/image.jpg" alt="" class="img-thumbnail"> -->

	<form action="/newpost" method="POST" >

		<div class="form-group">
	    	<label for="exampleInputName2">Ваше имя:</label>
	    	<input name="postme[autor]" type="text" class="form-control" id="exampleInputName2" placeholder="Владимир Иванович">
	  	</div>
			
		<textarea name="postme[content]" class="form-control" rows="6" placeholder="Пишите Ваше сообщение здесь"></textarea>
		
		<br /> 	
	   	<button type="submit" class="btn btn-primary"><b>Отправить сообщение</b></button>

	</form>
</p>